<div class="navbar" *ngIf="!isLoginPage()">
  <ul>
    <li>
      <button (click)="navigateTo('radhi')" [class.active]="isActive('radhi')">Menu</button>
    </li>
    <li>
      <button (click)="navigateTo('second')" [class.active]="isActive('second')"> Api</button>
    </li>
    <li>
      <button (click)="navigateTo('signup')" [class.active]="isActive('signup')">Signup</button>
    </li>
    <li>
      <button (click)="navigateTo('login')" [class.active]="isActive('login')">Login</button>
    </li>


  </ul>
</div>

<!-- Conteneur pour les composants selon la route active -->
<router-outlet></router-outlet>

<!-- Style optionnel -->
<style>
  .navbar {
    background-color: #333;
    padding: 10px;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar li {
    display: inline;
    margin-right: 15px;
  }

  .navbar button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .navbar button:hover {
    text-decoration: underline;
  }

  .active {
    font-weight: bold;
  }
</style>